#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the License).
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/CDDL.txt
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/CDDL.txt.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets [] replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#

#
# Copyright 2006 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
#ident	"@(#)depend.tmpl	1.6	07/06/06 SMI"
#
# This package information file defines software dependencies associated
# with the pkg.  You can define three types of pkg dependencies with this file:
#	 P indicates a prerequisite for installation
#	 I indicates an incompatible package
#	 R indicates a reverse dependency
# <pkg.abbr> see pkginfo(4), PKG parameter
# <name> see pkginfo(4), NAME parameter
# <version> see pkginfo(4), VERSION parameter
# <arch> see pkginfo(4), ARCH parameter
# <type> <pkg.abbr> <name>
# 	(<arch>)<version>
# 	(<arch>)<version>
# 	...
# <type> <pkg.abbr> <name>
# ...

P SUNWscr       Sun Cluster, (root)
P SUNWscgds     Sun Cluster Generic Data Service
